USE [SAYSPAA_MVC]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 22/08/2024 03:53:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](50) NULL,
	[NombreActividad] [nvarchar](max) NOT NULL,
	[ObjetivoActividad] [nvarchar](max) NOT NULL,
	[CantidadProducto] [int] NOT NULL,
	[TipoProducto] [nvarchar](60) NOT NULL,
	[MedioVerificacionProducto] [nvarchar](max) NOT NULL,
	[Fecha1] [datetime2](7) NULL,
	[Fecha2] [datetime2](7) NULL,
	[Fecha3] [datetime2](7) NULL,
	[Fecha4] [datetime2](7) NULL,
	[ObjetivoClave] [bit] NOT NULL,
	[ActividadControl] [bit] NOT NULL,
	[Supuestos] [nvarchar](max) NOT NULL,
	[Acciones] [nvarchar](max) NOT NULL,
	[Especificaciones] [nvarchar](max) NULL,
	[AplicaIndicador] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
	[UnidadAuditoraId] [int] NOT NULL,
	[DireccionGeneralId] [int] NOT NULL,
 CONSTRAINT [PK_Actividades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 22/08/2024 03:53:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Num] [int] NOT NULL,
	[Bis] [nvarchar](60) NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
	[UnidadAuditoraId] [int] NOT NULL,
	[DireccionGeneralId] [int] NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DireccionGenerals]    Script Date: 22/08/2024 03:53:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DireccionGenerals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cc] [int] NOT NULL,
	[Siglas] [nvarchar](100) NOT NULL,
	[Nombre_DG] [nvarchar](240) NOT NULL,
	[Estado] [bit] NOT NULL,
	[UnidadAuditoraId] [int] NOT NULL,
 CONSTRAINT [PK_DireccionGenerals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fraccions]    Script Date: 22/08/2024 03:53:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fraccions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Frac] [nvarchar](100) NOT NULL,
	[Bis] [nvarchar](60) NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
	[ArticuloId] [int] NOT NULL,
 CONSTRAINT [PK_Fraccions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadAuditoras]    Script Date: 22/08/2024 03:53:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadAuditoras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cc] [int] NOT NULL,
	[Siglas] [nvarchar](60) NOT NULL,
	[Nombre_UA] [nvarchar](120) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_UnidadAuditoras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actividades] ON 

INSERT [dbo].[Actividades] ([Id], [Clave], [NombreActividad], [ObjetivoActividad], [CantidadProducto], [TipoProducto], [MedioVerificacionProducto], [Fecha1], [Fecha2], [Fecha3], [Fecha4], [ObjetivoClave], [ActividadControl], [Supuestos], [Acciones], [Especificaciones], [AplicaIndicador], [Estado], [UnidadAuditoraId], [DireccionGeneralId]) VALUES (12, N'AEGF-1', N'sdfsdsdf', N'sdfsdf', 0, N'sdfsdf', N'sdfsdf', CAST(N'2025-01-16T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, 0, 0, N'No aplica', N'No aplica', N'sdfsdf', 1, 1, 2, 6)
SET IDENTITY_INSERT [dbo].[Actividades] OFF
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([Id], [Num], [Bis], [Descripcion], [Estado], [UnidadAuditoraId], [DireccionGeneralId]) VALUES (1, 10, N'', N'La Unidad Técnica de la Auditoría Superior de la Federación estará adscrita a la Oficina del Auditor Superior de la Federación y su titular tendrá, sin perjuicio de lo dispuesto en otros artículos de este Reglamento, las siguientes atribuciones', 1, 1, NULL)
INSERT [dbo].[Articulos] ([Id], [Num], [Bis], [Descripcion], [Estado], [UnidadAuditoraId], [DireccionGeneralId]) VALUES (2, 13, N'', N'La Auditoría Especial de Cumplimiento Financiero, a través de su titular, ejercerá las atribuciones siguientes', 1, 2, NULL)
INSERT [dbo].[Articulos] ([Id], [Num], [Bis], [Descripcion], [Estado], [UnidadAuditoraId], [DireccionGeneralId]) VALUES (3, 14, N'', N'La Auditoría Especial de Desempeño a través de su titular ejercerá las atribuciones siguientes', 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[Articulos] OFF
GO
SET IDENTITY_INSERT [dbo].[DireccionGenerals] ON 

INSERT [dbo].[DireccionGenerals] ([Id], [Cc], [Siglas], [Nombre_DG], [Estado], [UnidadAuditoraId]) VALUES (1, 13000, N'ICADEFIS', N'Instituto de Capacitación y Desarrollo en Fiscalización Superior', 1, 1)
INSERT [dbo].[DireccionGenerals] ([Id], [Cc], [Siglas], [Nombre_DG], [Estado], [UnidadAuditoraId]) VALUES (2, 12000, N'CEASF', N'Centro de Estudios de la Auditoría Superior de la Federación', 1, 1)
INSERT [dbo].[DireccionGenerals] ([Id], [Cc], [Siglas], [Nombre_DG], [Estado], [UnidadAuditoraId]) VALUES (3, 14000, N'DGD', N'Dirección General de Difusión', 1, 1)
SET IDENTITY_INSERT [dbo].[DireccionGenerals] OFF
GO
SET IDENTITY_INSERT [dbo].[Fraccions] ON 

INSERT [dbo].[Fraccions] ([Id], [Frac], [Bis], [Descripcion], [Estado], [ArticuloId]) VALUES (1, N'I', N'', N'Coordinar la elaboración del contenido de documentos técnicos para uso interno y difusión externa respecto a temas coyunturales de la fiscalización superior', 1, 1)
INSERT [dbo].[Fraccions] ([Id], [Frac], [Bis], [Descripcion], [Estado], [ArticuloId]) VALUES (2, N'II', N'', N'Definir y elaborar presentaciones y mensajes de la Auditoría Superior de la Federación en diversos foros nacionales e internacionales', 1, 1)
INSERT [dbo].[Fraccions] ([Id], [Frac], [Bis], [Descripcion], [Estado], [ArticuloId]) VALUES (3, N'III', N'', N'Definir el contenido y alcance de documentos técnicos con los que participe la Auditoría Superior de la Federación en foros nacionales e internacionales', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Fraccions] OFF
GO
SET IDENTITY_INSERT [dbo].[UnidadAuditoras] ON 

INSERT [dbo].[UnidadAuditoras] ([Id], [Cc], [Siglas], [Nombre_UA], [Estado]) VALUES (1, 11000, N'UTASF', N'Unidad Técnica de la Auditoría Superior de la Federación ', 1)
INSERT [dbo].[UnidadAuditoras] ([Id], [Cc], [Siglas], [Nombre_UA], [Estado]) VALUES (2, 20000, N'AECF', N'Auditoría Especial de Cumplimiento Financiero', 1)
INSERT [dbo].[UnidadAuditoras] ([Id], [Cc], [Siglas], [Nombre_UA], [Estado]) VALUES (3, 30000, N'AED', N'Auditoría Especial de Desempeño', 1)
SET IDENTITY_INSERT [dbo].[UnidadAuditoras] OFF
GO
ALTER TABLE [dbo].[Actividades]  WITH CHECK ADD  CONSTRAINT [FK_Actividades_DireccionGenerals_DireccionGeneralId] FOREIGN KEY([DireccionGeneralId])
REFERENCES [dbo].[DireccionGenerals] ([Id])
GO
ALTER TABLE [dbo].[Actividades] CHECK CONSTRAINT [FK_Actividades_DireccionGenerals_DireccionGeneralId]
GO
ALTER TABLE [dbo].[Actividades]  WITH CHECK ADD  CONSTRAINT [FK_Actividades_UnidadAuditoras_UnidadAuditoraId] FOREIGN KEY([UnidadAuditoraId])
REFERENCES [dbo].[UnidadAuditoras] ([Id])
GO
ALTER TABLE [dbo].[Actividades] CHECK CONSTRAINT [FK_Actividades_UnidadAuditoras_UnidadAuditoraId]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_DireccionGenerals_DireccionGeneralId] FOREIGN KEY([DireccionGeneralId])
REFERENCES [dbo].[DireccionGenerals] ([Id])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_DireccionGenerals_DireccionGeneralId]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_UnidadAuditoras_UnidadAuditoraId] FOREIGN KEY([UnidadAuditoraId])
REFERENCES [dbo].[UnidadAuditoras] ([Id])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_UnidadAuditoras_UnidadAuditoraId]
GO
ALTER TABLE [dbo].[DireccionGenerals]  WITH CHECK ADD  CONSTRAINT [FK_DireccionGenerals_UnidadAuditoras_UnidadAuditoraId] FOREIGN KEY([UnidadAuditoraId])
REFERENCES [dbo].[UnidadAuditoras] ([Id])
GO
ALTER TABLE [dbo].[DireccionGenerals] CHECK CONSTRAINT [FK_DireccionGenerals_UnidadAuditoras_UnidadAuditoraId]
GO
ALTER TABLE [dbo].[Fraccions]  WITH CHECK ADD  CONSTRAINT [FK_Fraccions_Articulos_ArticuloId] FOREIGN KEY([ArticuloId])
REFERENCES [dbo].[Articulos] ([Id])
GO
ALTER TABLE [dbo].[Fraccions] CHECK CONSTRAINT [FK_Fraccions_Articulos_ArticuloId]
GO
