@model PAA_MVC_W.Modelos.ViewModels.FraccionVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Nueva Fracción";
}

<form method="post">
    @if (Model.Fraccion.Id != 0)
    {
        titulo = "Editar Fracción";
        <input asp-for="Fraccion.Id" hidden/>
    }

<div class="border p-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <h2 class="text-info">@titulo</h2>
    </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Fracción</label>
                <input type="text" asp-for="Fraccion.Frac" class="form-control" placeholder="Ingresa Número Articulo" />
                <span asp-validation-for="Fraccion.Frac" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
               <label>Numeral</label>
                <select asp-for="Fraccion.Bis" class="form-select">
                    <option disabled selected>-- Seleccione un Numeral --</option>
                   <option value="Bis">Bis</option>
                   <option value="Ter">Ter</option>
                   <option value="Quater">Quater</option>
                   <option value="Quinquies">Quinquies</option>
                   <option value="Sexies">Sexies</option>
                   <option value="Septies">Septies</option>
                   <option value="Octies">Octies</option>
                   <option value="Novies">Novies</option>
                   <option value="Decies">Decies</option>
                </select>
                <span asp-validation-for="Fraccion.Bis" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Desripción</label>
                <textarea asp-for="Fraccion.Descripcion" class="form-control" placeholder="Ingresa Descripción" id="nombre_dg" rows="15" style="resize: none;"></textarea>
                <span asp-validation-for="Fraccion.Descripcion" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>UA</label>
                <select asp-for="Fraccion.ArticuloId" asp-items="@Model.ArticuloLista" class="js-example-basic-single form-select">
                    <option disabled selected>-- Seleccione un Articulo --</option>
                </select>
                <span asp-validation-for="Fraccion.ArticuloId" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Estado</label>
                <select asp-for="Fraccion.Estado" class="form-select">
                    <option value=true>Activo</option>
                    <option value=false>Inactivo</option>
                </select>
                <span asp-validation-for="Fraccion.Estado" class="text-danger"></span>
            </div>
        </div>

        <br />
        <div>
            @if (Model.Fraccion.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Fraccion.Id"></partial>

            }
            else
            {
                <partial name="_BotonesCrearYRegresar" />
            }
        </div>

</div>


</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        //select2 para los dropdownlist
        $(document).ready(function() {
        $('.js-example-basic-single').select2();
        });



        document.getElementById("nombre_dg").addEventListener('change', function () { 
            validarNombre();
        });

        // document.getElementById("siglas").addEventListener('change', function () {
        //     validarSiglas();
        // });

        function validarNombre()
        {
            var url = '@Url.Content("~/")' + "Admin/DireccionGeneral/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre_dg';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("nombre_dg");
                        Swal.fire({
                            title: 'Error',
                            text: 'Nombre "' + nombre.value +'" ya existe en la base',
                            icon: 'error'
                        });
                        nombre.value = "";
                    }
                });

            })

        }

        function validarSiglas() {
            var url = '@Url.Content("~/")' + "Admin/DireccionGeneral/ValidarSiglas";
            var id = '#id';
            var siglas = '#siglas';

            $.getJSON(url, { id: $(id).val(), siglas: $(siglas).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var siglas = document.getElementById("siglas");
                        Swal.fire({
                            title: 'Error',
                            text: 'Siglas "' + siglas.value + '" ya existe en la base',
                            icon: 'error'
                        });
                        siglas.value = "";
                    }
                });

            })

        }

      

    </script>
    }